@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-color: rgb(31, 32, 34);
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: antiquewhite;
    user-select: none;
}

#nome {
    position: absolute;
    z-index: 1;
    margin-left: 90px;
    margin-top: 60px;
    font-size: 26px;
    color: antiquewhite;
    background-color: rgb(31, 32, 34);
    border: 1px solid rgb(45, 45, 45);
    border-radius: 2px;
    border-width: 1px;
}

#nome:hover {
    color: rgb(227, 227, 227);
}
#nomeW:hover {
    color: rgb(28, 28, 28);
}

#qse, #introducao {
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
#qse {
    position: absolute;
    z-index: 2;
    margin-top: 20%;
    left: 40%;
    font-size: larger;
}

#introducao {
    position: absolute;
    z-index: 3;
    color: rgb(255, 248, 240);
    border-radius: 2px;
    border-width: 10px;
    border: 1px solid rgb(45, 45, 45);
    margin-top: 25%;
    padding: 10px;
    left: 30%;
}