@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-color: #1F2022;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: antiquewhite;
    user-select: none;
    animation: fadeIn linear 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
#nome {
    font-size: 30px;
    color: antiquewhite;
    background-color: #1F2022;
    border: 1px solid #2D2D2D;
    border-radius: 4px;
    border-width: 2px;
    padding: 4px;
}
#nome:hover, #projetos:hover, #certificacoes:hover, #contato:hover {
    cursor: pointer;
}
#qse, #introducao {
    display: flex;
    justify-content: center;
}
#qse {
    font-size: larger;
    margin-top: 150px;
    animation: fadeIn linear 2s;
}
#introducao {
    font-size: medium;
    color: rgb(255, 248, 240);
    border: 2px solid #2D2D2D;
    padding: 10px;
    animation: fadeIn linear 3s;
    text-align: center;
    border-radius: 2px;
    border-width: 1px;
}
