@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    min-width: 480px;
    background-color: #1F2022;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: antiquewhite;
    user-select: none;
    animation: fadeIn linear 0.5s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

#nome {
    font-size: 30px;
    color: antiquewhite;
    background-color: #1F2022;
    border: 1px solid #2D2D2D;
    border-radius: 4px;
    border-width: 2px;
    padding: 4px;
}
#nome:hover, #projetos:hover, #certificacoes:hover, #contato:hover {
    cursor: pointer;
}
#projetos:hover, #certificacoes:hover, #contato:hover {
    border-bottom: 2px solid antiquewhite;
    animation: ease-in linear  0.25s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap-reverse;
}

#introducao {
    max-width: 1000px;
}

#qse {
    max-width: 1000px;
    font-size: larger;
    margin-top: 150px;
    padding: 20px 0 0 0;
    animation: fadeIn linear 0.5s;
}
.textoInt {
    font-size: medium;
    border: 2px solid #2D2D2D;
    padding: 10px;
    animation: fadeIn linear 1s;
    text-align: center;
    border-radius: 2px;
    border-width: 1px;
}

@media(max-width:720px) {
    header {
        border-bottom: 1px solid rgb(255, 248, 240);
        max-width: 200px;
        font-size: 8px;
        flex-flow: column;
        left: 50%;
        transform: translate(-50%,0);
    }
    #qse {
        display: flex;
        margin-top: 15px;
        justify-content: center;
    }
}

