body {
    font-family: fantasy;
    color: rgb(3, 174, 213);
}
#transa1 {
    width: 450px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}
#transa2 {
    width: 250px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
}
#transa3 {
    width: 100px;
    position: absolute;
    top: 108px;
    left: 120px;
    z-index: 3;
}
h1 {
    position: absolute;
    z-index: 4;
    left: 30px;
}
#song {
    position: absolute;
    z-index: 5;
    top: 470px;
}
.coqueiro {
    width: 50px;
    /* tornar o elemento flutuante */
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}